{% extends "base.html" %}

{% block content %}
<div class="boxes">
    <div class="boxes-left">
        <div class="box">
            <div class="boxcontent">
                <h2>Cyberpunk 2077</h2>
                <p>— это масштабная компьютерная ролевая игра в жанре научной фантастики, 
                    разработанная польской студией CD Projekt Red. Действие разворачивается в мрачном и гиперкапиталистическом 
                    будущем локации Найт-Сити, где высокие технологии 
                    (кибернетические импланты, лазерное оружие, искусственный интеллект) соседствуют с 
                    тотальным социальным неравенством, преступностью и коррупцией. 
                </p>
            </div>
        </div>
        <div class="box">
            <div class="boxcontent">
                <h2>D&D</h2>
                <p>— это настольная ролевая игра в жанре фэнтези.
                    В отличие от компьютерных игр весь мир существует в воображении игроков и устных описаниях одного из участников — 
                    Мастера (ДМа). Остальные игроки создают своих персонажей и вместе они отправляются в приключения.
                    Успех действий определяется не видеопикселями, а броском многогранных кубиков (d20, d6, d12 и др.).
                </p>
            </div>
        </div>
    </div>

    <div class="bigger_box">
        <div class="boxcontent">
            <h2>Почему SPACE? Почему 2079?</h2>
            <p>
                Данная "версия" D&D — "Homebrew" (т.е. придуманная игроками), связанный с Cyberpunk и космосом. Действия ролёвки
                происходят в 2079, на космическом корабле, на который отправили нескольких работников во главе с Анн. Игрокам предстоит выполнять
                как повседневные задачи, так и узнать персонажей друг-друга и разобраться с куда более крупным конфликтом.. <br><br>
                Авторами этого Homebrew являются мои хорошие друзья <strong>Бушес и Зоя</strong>. Все представленные на сайте классы, предыстории, лор,
                лист персонажа и прочие аспекты самой игры — их интеллектуальная собственность. Сайт создан для простоты ознакомления.
            </p>
        </div>
    </div>
</div>
{% endblock %}